.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.equalSpace{
  margin:  10px 20px;
  border: 1px solid black;
}
.allignStaright{
  display: inline-block;
}
.buttonAllign{
  margin-left: 50px;
  height: 20px;
  width: 60px;
  background-color: blue;
  display: inline-block;
  color: white;
}
tbody .tabOne{
  border: solid;
  position: relative;
left: 500px;
top: 13px;
}
tbody .tabOne tr > th{
  border: solid;
}
tbody .tabOne tr > td{
  border: solid;
}
.commonfileds{
  display: inline-block;
  margin-left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
